<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
<form action="/user" method="post">
<h1>Sign up form</h1>
<label for="">First name</label>
<input type="text" required name="name" placeholder="Enter the first name" >

<label >E-mail</label>
<input type="text" required name="email" placeholder="Enter the email" >

<label >Password</label>
<input type="text" required name="password" placeholder="Enter the Password" >
<br>
<button style="margin-left: 400px;" type="submit">Submit</button>
</form>
    
</body>
</html>